@import '../../assets/css/index';

$drop-down-divider: 1px solid $line-color;

.drop-down {
  ul {
    min-width: 200px;
  }

  .divided {

    &.top {
      margin-top: $drop-down-divider !important;
    }

    &.bottom {
      margin-bottom: $drop-down-divider !important;
    }
  }

  box-shadow: 1px 1px 1px $line-color;
  border: 1px solid $line-color;
  border-radius: 1rem;
}


