@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.progress {
  margin: 0 !important;
  height: 2px !important;
}

.logo {
  font-family: 'Great Vibes', cursive;
}

nav {
  .menu .menu-item .icon-image {
    height: 2.5rem !important;
    margin-top: .8rem;
    width: 2.5rem;
  }
}
