.profile {
  height: 80px;
  object-fit: cover;
  object-position: center center;
  width: 80px;
}

.banner {
  height: 400px !important;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
}
